.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.lead__title {
  font-family: "Inter";
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  max-width: 720px;

  margin-bottom: 0;
}
.lead__subtitle {
  max-width: 720px;
  font-family: "Inter";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.lead__image {
  width: 100%;
  max-width: 954px;
}
@media screen and (max-width: 1024px) {
  .lead__title {
    width: 530px;
    height: 158px;
    font-size: 75px;
    line-height: 79px;
  }
}
@media screen and (max-width: 720px) {
  .lead__title {
    width: 228px;
    height: 88px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
  }
}
